@model IEnumerable<V_APP.Models.Seller>
<div class="blue_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Seller List</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- project section -->
<div id="project" class="project">
    <div class="container">
        <div class="row">
            <div class="product_main">
                @foreach (var P in Model)
                {
                    <div class="project_box ">
                        @if (string.IsNullOrEmpty(P.Image))
                        {
                                <a href="/home/SellerDetail?id=@P.Id"><div class="dark_white_bg"><img src="/data/placeholder.jpg" alt="" /></div></a>
                                <p>@P.FirstName @P.LastName</p>
                        }
                        else
                        {
                            <a href="/home/SellerDetail?id=@P.Id"><div class="dark_white_bg"><img src="@P.Image" alt="#" /></div></a>
                            <p>@P.FirstName @P.LastName</p>
                        }

                    </div>
                }

                <div class="col-md-12">
                    <a class="read_more" href="#">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>